
*.pyc
*.pyo
*.pyd
__pycache__/


*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3


.env

venv/
env/



.idea/
.vscode/
*.swp


*/migrations/*.py
!*/migrations/__init__.py


htmlcov/
.coverage
.coverage.*

nosetests.xml
coverage.xml
*.cover
*.py,cover

celerybeat-schedule


local_settings.py